.gallery img{
    width: 100%;
    border-radius: 4px;

}

.container{
    position: relative;
    width: 100%;
    height: 500px;

}

.container img{
    position: absolute;
    width: 100%;
    height: 500px;
    object-fit: cover;
    transition: 0.5s;
}

.container #img2:hover{
    opacity: 0;
    cursor: pointer;

}



h1{
    color:black;
    font-family: helvetica , sans-serif;
}
h2{
    color: black;
    font-family: helvetica , sans-serif;
}
h3{
    color: black;
    font-family: helvetica , sans-serif;
}
p{
    color: black;
    font-family: 'Courier New', Courier, monospace , sans-serif;
}

#menu{
    width: 100;
    height: 40px;
    color: white;
    background-color: black;
    padding-top: 16px;
    padding-bottom: 16px;
    text-align: center;
    
}

#menu a{
    color: white;
    font-family: helvetica;
    font-size: 16px;
    font-weight: normal;
    text-decoration: none;

    padding: 10px;
    display: inline-block;
    text-align: center;
}

#menu a:hover{
    
    color: #0377F2;
    font-weight: bold;
}